@import url('https://fonts.cdnfonts.com/css/hubot-sans');

* {
    margin: 0;
    padding: 0;
    font-family: 'Hubot-Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;              
}

html {
    opacity: 1;
    background-image: radial-gradient(#598eb4 1.1500000000000001px, #cdecff 1.1500000000000001px);
    background-size: 23px 23px;
}

body {
    opacity: 1;
    background-image: radial-gradient(#598eb4 1.1500000000000001px, #cdecff 1.1500000000000001px);
    background-size: 23px 23px;
}